<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Car App{% endblock %}</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <!-- Add your additional CSS links or stylesheets here -->
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ url_for('index') }}">My Car App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item ml-lg-3"> <!-- Add margin using ml-lg-3 (or your preferred margin class) -->
                    <a class="nav-link" href="{{ url_for('cars') }}">Print Cars</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('search') }}">Search Car</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('add') }}">Add Car</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('update') }}">Update Car</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('delete') }}">Delete Car</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Flash messages handling -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="container mt-4">
        {% for category, message in messages %}
        <div class="alert alert-{{category}}" role="alert">
            {{ message|safe}}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    <div class="container mt-4">
        {% block content %}
        <!-- Content goes here -->
        {% endblock %}
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- Add your additional JavaScript links or scripts here -->

</body>

</html>